<configuration>
  <system.webServer>

    <!-- indicates that the hello.js file is a node.js application
    to be handled by the iisnode module -->
	
	 <cors enabled="false" failUnlistedOrigins="true">
            <add origin="*" />
            <add origin="http://localhost:3000"
                 allowCredentials="true"
                 maxAge="120"> 
                <allowHeaders allowAllRequestedHeaders="true">
                    <add header="header1" />
                    <add header="header2" />
                </allowHeaders>
                <allowMethods>
                     <add method="DELETE" />
                </allowMethods>
                <exposeHeaders>
                    <add header="header1" />
                    <add header="header2" />
                </exposeHeaders>
            </add>
            <add origin="http://*" allowed="true" />
     </cors>

    <handlers>
      <add name="iisnode" path="src/index.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="medical_hera_gql">
          <match url=".*" />
          <action type="Rewrite" url="src/index.js" />
        </rule>
      </rules>
    </rewrite>
	
	<iisnode
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
	  loggingEnabled="true" 
	  devErrorsEnabled="true" 
	  maxLogFiles="100"
    />

  </system.webServer>
</configuration>